.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(6, 154, 50);
  background-color: rgb(32, 32, 32);
  font-family:monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER PAGE *********************************************************************************** */
.headerWrapper {
  width: 100%;
  /* background-color: rgb(24, 6, 146); */
  color: whitesmoke;
}

.header {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.headerTop{
width: 100%;
}

.headerBottom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.headerLeft {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
}

.headerLogo {
  width: 200px;
  height: 150px;
}

.headerRight {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.website {
  margin-top: 35px;  
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}

.websiteLink {
  margin-right: 2px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
}

.websiteLink:hover {
  margin-right: 2px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(200, 206, 40);
}

.contactMe {
  margin-top: 35px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  display: flex;
}

.const {
  color: rgb(110, 110, 255);
  margin-right: 10px;
}

.userInfo {
  color: rgb(255, 255, 187);
  margin-right: 5px;
}

.equals {
  margin-right: 5px;
}

.bracket {
  color: yellow;
}

.objItem {
  color: rgb(153, 198, 220);
}

.headerNavWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}


/* NAVBAR ************************************************************************************** */

.navWrapper {
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}

.navLinks {
  font-size: 24px;
  font-weight: bold;
}

.navLinks:hover {
  font-size: 24px;
  font-weight: bold;
  color: rgb(135, 177, 148);
  cursor: pointer;
}

/* WEATHER PAGE ******************************************************************************** */

.weatherWrapper {
  width: 100%;
  border-bottom: 1px solid rgb(65, 65, 65);
  background-color: rgb(32, 32, 32);
  font-size: 16px;
}

.mainWeather {
  width: 80%;
  line-height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(6, 154, 50);
  margin-left: auto;
  margin-right: auto;
}

.location {
  display: flex;
}

.locationText {
  font-weight: bold;
}

.locationData {
  font-weight: normal;
  margin-left: 10px;
}

.currentTemp {
  display: flex;
}

.currentTempText {
  font-weight: bold;
}

.currentTempData {
  font-weight: normal;
  margin-left: 10px;
}

.weatherCondition {
  display: flex;
  align-items: center;
}

.weatherConditionText {
  font-weight: bold;
}

.weatherConditionData {
  font-weight: normal;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.weatherIcon {
  width: 40px;
}

/* MAIN PAGE *********************************************************************************** */

.main {
  background-color: rgb(32, 32, 32);
}

.mainBannerWrapper {
  width: 100%;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.mainBanner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}

.mainBannerLeft{
  width: 50%;
}
.mainImg{
  width: 100%;
  display: flex;
  justify-content: center;
}

.userImgWrapper {
  width: 45%;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImg {
  width: 100%;
  height: 100%;

}

.mainBannerRight {
  width: 50%;
}

.bioPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:end;
  justify-content: center;
  font-family:monospace;
}

.bioDesc {
  font-size: 60px;
  font-weight: bold;
  width: 80%;
  margin-bottom: 60px;
  text-align: left;
}

.fillerWrapper {
  width: 100%;
  height: 300px;
}
.filler {
  height: 100%;
  width: 100%;
  opacity: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.coding {
  height: 120%;
  margin-left: 100px;
}

/* Technologies ********************************************************************************* */

.technologyWrapper {
  width: 100%;
}

.technology {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid red;
}

.techCell {
  display: flex;
}

.techCellLeft {
  margin-right: 30px;

  width: 25%;
}

.techJsImg {
  height: 250px;
}

.techCellRight {

  width: 75%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 50px;
  text-align: left;
}

/* FOOTER *************************************************************************************** */

.footerWrapper {
  width: 100%;
  height: 300px;
  border-top: 1px solid rgb(65, 65, 65);
  background-color: rgb(32, 32, 32);
}

.footerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangleWrapper {
  width: 1%;
  padding: 5px;
  border: 1px inset rgb(6, 154, 50); 
  margin: 15px;
}

.triangleWrapper:hover {
  width: 1%;
  padding: 5px;
  background-color: rgb(55, 55, 55);
  margin: 15px;
  cursor: pointer;
}

.triangle {
  height: 8px;
}

.footerTopText {
  font-size: 16px;
}

.footerBottom {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footerLeft{
  width: 33%;
  /* box-shadow: 0px 0px 25px rgb(255, 119, 0), inset 0px 0px 25px rgb(255, 119, 0); */
}

.footerEmail {
  font-size: 16px;
  color: rgb(6, 154, 50);
  cursor: pointer;
}

.footerEmail:hover {
  font-size: 16px;
  color: rgb(135, 177, 148);
  cursor: pointer;
}

.footerCenter {
  width: 33%;
  font-size: 16px;

}

.downloadResume {
  text-decoration: none;
    color: rgb(6, 154, 50);
}

.downloadResume:hover {
  text-decoration: none;
  color: rgb(135, 177, 148);
}

.footerRight {
  width: 33%;
  font-size: 16px;
}

.footerWebsite {
  font-size: 16px;
  text-decoration: none;
  color: rgb(6, 154, 50);
}

.footerWebsite:hover {
  font-size: 16px;
  text-decoration: none;
  color: rgb(135, 177, 148);
}
